@import "tailwindcss";

@theme {
  --font-kumbh: "Kumbh Sans", sans-serif;

  /* colors */

  /* primary */
  --color-primary: hsl(26, 100%, 55%);
  --color-pale-primary: hsl(25, 100%, 94%);

  /* neutral */

  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

@layer components {
  body {
    @apply font-kumbh min-h-dvh antialiased bg-white;
  }

  #root {
    @apply flex flex-col;
  }
}
